* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
